//colors
$primary-color: #2196F3;
$hover-primary-color: #1985dd;
$background-color: #F3F7FA;
$base-text-color: #4A4A4A;
$dim-text-color: #A0B0B9;
$not-active-color: #9ABBCE;
$hover-color: #F1FCFF;
$light-gray: #DFE5EC;