//colors
$primary-color: #2196f3;
$hover-primary-color: #1985dd;
$background-color: #f3f7fa;
$base-text-color: #4a4a4a;
$dim-text-color: #a0b0b9;
$not-active-color: #9abbce;
$hover-color: #f1fcff;
$light-gray: #dfe5ec;
