.App {
  max-width: 752px;
  min-width: 425px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  display: flex;
  justify-content: center;
}

.logoWrapper {
  display: flex;
  justify-content: center;
}

.ticketBlock {
  width: 66%;
}

@media (max-width: 426px) {
  .container {
    flex-direction: column;
    padding: 0 15px;
  }

  .ticketBlock {
    width: 100%;
  }
}
