@use "../../styles/variables" as *;

.sortingList {
	display: flex;
	width: 100%;
	margin-bottom: 20px;
}

.sortingListItem {
	width: 33%;

	&:first-child .sortingButton {
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
	}

	&:last-child .sortingButton {
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
	}
}

.sortingButton {
	width: 100%;
	height: 50px;
	padding: 15px;
	font-weight: 600;
	font-size: 12px;
	line-height: 20px;
	color: $base-text-color;
	border: 1px solid $light-gray;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

	&:hover {
		background-color: $hover-color;
		color: $base-text-color;
	}

	&:active {
		background-color: $primary-color;
		color: white;
	}
}

.activeSortingButton {
	width: 100%;
	height: 50px;
	padding: 15px;
	font-weight: 600;
	font-size: 12px;
	line-height: 20px;
	color: white;
	border: 1px solid $primary-color;
	background-color: $primary-color;

	&:hover {
		color: white;
		background-color: $hover-primary-color;
	}
}
